In [18]:
import pandas as pd
import datetime

### MSSQL Server Connection

In [1]:
import pyodbc
def sql_connection(): 
    conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DESKTOP-JJV90PD;'
                      'Database=Incubyte_DB;'
                      'Trusted_Connection=yes;')

    cursor = conn.cursor()
    cursor.fast_executemany = True
    return cursor

### Extract

In [35]:
def Read_File(FileName):
    # drop first two col
    df=pd.read_csv(FileName,sep='|').drop(['Unnamed: 0','H'],axis=1)
    df.head()
    return df

### Transform

In [38]:
def Transform(df):
    df['Open_Date']=df['Open_Date'].map(lambda x: datetime.datetime.strptime(str(x),'%Y%m%d').date())
    df['Last_Consulted_Date']=df['Last_Consulted_Date'].map(lambda x: datetime.datetime.strptime(str(x),'%Y%m%d').date())
    df['DOB']=df['DOB'].map(lambda x: datetime.datetime.strptime(str(x),'%d%m%Y').date())
    return df

### Create Table Query - MSSQL

CREATE TABLE [dbo].[Incubyte_table](
	[Name] [varchar](255) NOT NULL,
	[Cust_I] [varchar](18) NULL,
	[Open_Dt] [date] NULL,
	[Consul_Dt] [date] NULL,
	[VAC_ID] [char](5) NULL,
	[DR_Name] [char](255) NULL,
	[State] [char](5) NULL,
	[County] [char](5) NULL,
	[DOB] [date] NULL,
	[FLAG] [char](1) NULL
)

### Load

In [41]:
def Load(df):
    cursor=sql_connection()
    insert_query='INSERT INTO Incubyte_DB.dbo.Incubyte_table VALUES (?,?,?,?,?,?,?,?,?,?)'
    cursor.executemany(insert_query,df.values.tolist())
    cursor.commit()
    cursor.close()

## Main Run

In [42]:
# Extract file
df=Read_File('Incubyte_data.txt')

#transform to defined format
df=Transform(df)

#load to MSSQL table
Load(df)

In [34]:
cursor=sql_connection()
cursor.execute('SELECT * FROM Incubyte_DB.dbo.Incubyte_table')
for row in cursor:
    print(row)

('Alex', '123457', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD  ', 'Paul                                                                                                                                                                                                                                                           ', 'SA   ', 'USA  ', datetime.date(1987, 3, 6), 'A')
('John', '123458', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD  ', 'Paul                                                                                                                                                                                                                                                           ', 'TN   ', 'IND  ', datetime.date(1987, 3, 6), 'A')
('Mathew', '123459', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD  ', 'Paul                                                                                                                                                                                                                                                           ', 'WAS  ', 'PHIL ', datetime.date(1987, 3, 6), 'A')
('Matt', '12345', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD  ', 'Paul                                                                                                                                                                                                                                                           ', 'BOS  ', 'NYC  ', datetime.date(1987, 3, 6), 'A')
('Jacob', '1256', datetime.date(2010, 10, 12), datetime.date(2012, 10, 13), 'MVD  ', 'Paul                                                                                                                                                                                                                                                           ', 'VIC  ', 'AU   ', datetime.date(1987, 3, 6), 'A')